<div class="contents row">
  <p><%= @nickname %>さんの出品一覧</p>
  <% @items.each do |item| %>
    <div class="content_post" >
      <%= image_tag item.image%>
      <div class="name"><%= item.name %></div>
      <p><%= item.content %></p>
    </div>
  <% end %>
</div>