#previews {
  display: flex;
}

.preview {
  margin-right: 30px;
}

.preview-image {
  height: 250px;
  width:  100%;
  object-fit: cover; 
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}